@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Achieve_Operational_Readiness_in_Project_Management.jpg);
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0; */
}

  /* .login-page {
      background-image: url('https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Achieve_Operational_Readiness_in_Project_Management.jpg');
      background-size: cover;
      background-position: center;

  } */

.login-form {
    width: 300px;
    padding: 40px;
    background-color:rgba(red, green, blue, alpha);
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {

    background-color: #3578e5;
}

.login-form {
    font-family: "Arial", sans-serif;
    text-align: center;
}

.login-form h2 {
    font-family: 'Lobster', cursive;
        font-size: 36px;
        margin-top: 30px;
}

.login-form input,
.login-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}
